<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="myoa.mapper.FunctionMapper">
	<select id="fetchFunctions" resultType="Function">
		SELECT * FROM Function where parentId is null
	</select>
	
	<select id="fetchChildrenFunctions" parameterType="int" resultType="Function">
		SELECT * FROM Function WHERE parentId = #{parentId}
	</select>
	
	<select id="fetchByRoleId" parameterType="int" resultType="Function">
		SELECT f.* FROM `FUNCTION` f
			JOIN RoleFunction rf ON rf.FunctionId = f.id
			JOIN Role r ON r.Id = rf.RoleId
		WHERE r.Id = #{id} LIMIT 1
	</select>
	
	<select id="fetchByFunctionId" resultType="Function">
		SELECT * FROM `FUNCTION` where parentId is not null
	</select>
	<select id="fetchParentIdById" parameterType="int" resultType="int">
		SELECT ParentId FROM Function WHERE id= #{id}
	</select>
	
	<select id="fetchById" parameterType="int" resultType="int">
		SELECT f.`Id` FROM `FUNCTION` f
			LEFT JOIN RoleFunction rf ON rf.`FunctionId` = f.`Id`
			LEFT JOIN Role r ON r.Id = rf.`RoleId`
		WHERE r.`Id` = #{id} AND f.`ParentId` IS NOT NULL
	</select>
</mapper>